*{
    margin: 0;
    padding: 0;
}
html,body{
   height: 100vh;
   
}
body{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

#game-info{
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    padding-top: 3rem;
    padding-bottom: 3rem;

}
#game-info h1{
    color: white;
   
    font-weight: 600;
    font-size: clamp(2.5rem,5vw,4rem);
    font-family: "Poppins",sans-serif;

}
#game-info h3{
    color: rgb(223, 223, 223);
    
    font-weight: 600;
    font-size:  clamp(1rem,5vw,1.5rem);
    font-family: "Mulish",sans-serif;
    text-align: center  ;

}
#game-info #start-btn{
     
      color: white;
    font-weight: 800;
    font-size: clamp(1rem,2vw,1.5rem);
    border: none;
    border-radius: 20px;
    padding: 0.3rem 2.2rem;
    font-family: "Mulish",sans-serif;
    background-color: rgb(206, 95, 16);
    transition: all 0.3s ease;
}
#game-info #start-btn:hover{
     background-color: rgb(216, 103, 23);
     transform: scale(1.03);
}
#game-info #start-btn:active{
     
    transform: scale(0.9);
}

#question-box-part{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    visibility: hidden;
    
   
}
#questionbox{
    background-color: #06060659;
    width: clamp(12rem,90vw,35rem);
    height: clamp(7rem,15vw,8rem);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-family: "Mulish",sans-serif;
    padding: 0.2rem 0.8rem ;
    font-size: clamp(1rem,2vw,1.3rem);
   
}

#options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: clamp(12rem,90vw,35rem);
    height: clamp(7rem,15vw,8rem);
       gap: 10px;
}
.opt{
        width: 100%;
        height: 100%;
        background-color: #06060659;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: "Mulish",sans-serif ;
        font-weight: 600;
       font-size: clamp(1rem,2vw,1.3rem);
     
}  